body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 30%; /* Utilisation d'une largeur fixe pour chaque produit */
    box-sizing: border-box; /* Pour inclure les bordures et les rembourrages dans la largeur et la hauteur */
}

.product i {
    position: absolute;
    top: 10px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.product i:hover {
    color: #4CAF50;
}

img {
    width: 100%;
    height: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80%; /* Utilisation d'une largeur fixe pour les boutons */
    margin-top: 10px;
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

#cart {
    float: right;
    width: 30%;
    border: 1px solid #ddd;
    padding: 10px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#total {
    font-weight: bold;
}

.cart-container {
    width: 100%; /* Pour occuper toute la largeur disponible */
    box-sizing: border-box;
}
