body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

section {
    margin: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    height: auto;
}

#selected-product-section {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

#selected-product-section p {
    font-size: 18px;
    color: #333;
}
